div.jumbotron
  h1
    | AngularJS / RequireJS / Gulp / Express / MongoDB
    br
    small Seed project

  p This is a simple seed project to study and develop web apps using AngularJS, Express and RequireJS

  p
    | Git repository: &nbsp;
    a(href="https://github.com/igorprado/angular-requirejs-gulp-express-mongodb-seed") https://github.com/igorprado/angular-requirejs-gulp-express-mongodb-seed


  div.row
    div.col-sm-3.row.col-sm-offset-4.text-center
      a.btn.btn-primary.btn-lg.btn-block.btn-index(ui-sref="beers") Go to Beers